/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header .logo {
    float: left;
    width: 50px;
    height: 50px;
    background: url('../images/logo.png') no-repeat center center;
    background-size: contain;
}

header h1 {
    margin-left: 60px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.login {
    float: right;
    margin-left: 20px;
}

.login a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}