/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        
}

.sfondo{
        background-image: url(../img/discord_blocks.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
}

.headerbackground {
    background-color:rgb(172, 215, 230); /* Colore di sfondo semi-trasparente */
    padding: 10px 0; /* Spaziatura interna */
}

header.container {
        width: 62%;
        margin: 0.8rem auto;
        padding: 5px 2px;
        /* align-items: center; */
        background-color: rgb(217, 165, 33);
        font-size: 0.8rem;
        border-style: dashed;
}

header.container nav , header.container nav ul {
        display: flex;
        /** justify-content: space-between; **/
        align-items: center;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
       //* border-style: dashed; **/
}

.navbar {
            display: flex;
    align-items: center;
}

.logo {
    flex: 1;
    flex-grow: 2;
}

.nav-links {
    flex: 2;
    display: flex;
    flex-grow: 7;
    justify-content: center;
    gap: 10px;
    border-right: dashed;
    border-left: dashed;

}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.login {
    flex: 3;
    flex-grow: 2;
    text-align: right;
}